$main-gray-900: #101828;
$main-gray-800: #1D2939;
$main-gray-700: #344054;
$main-gray-600: #475467;
$main-gray-500: #667085;
$main-gray-400: #98A2B3;
$main-gray-200: #EAECF0;
$main-gray-100: #F2F4F7;
$main-gray-50: #F9FAFB;


$main-primary-700: #162C8C;
$main-primary-600: #213FC0;
$main-primary-500: #3259E8;
$main-primary-400: #4E7AFF;

$secondary-success-500: #12B76A;

$secondary-error-700: #B42318;
$secondary-error-600: #D92D20;
$secondary-error-500: #F04438;