@import '../../../utils/styles/variables.scss';
@import '../../../utils/mixins/media-queries.scss';

.burger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 16px;
  background-color: $main-gray-800;
  overflow: scroll;
  grid-template-rows: min-content min-content;
  transform: translateX(-100%);
  transition: transform .3s ease;

  &__genres {
    grid-column: 1 / -1;
  }

  &__divider {
    grid-column: 1 / -1;
    margin-block: 18px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    align-items: center;
    height: fit-content;
  }

  &__close {
    position: relative;
    border-radius: 8px;
    background-color: $main-gray-600;
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }

  &--opened {
    transform: translateX(0);
  }

  @include desktop {
    display: none;
  }
}
