@import '../../../../../utils/styles/variables.scss';
@import '../../../../../utils/mixins/media-queries.scss';

.comment {
  display: flex;
  gap: 16px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__nickname {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__mark {
    display: flex;
    gap: 4px;
  }

  &__likes {
    display: flex;
    gap: 8px;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    color: $main-gray-100;

    @include tablet {
      font-size: 14px;
    }
  }

  &__like {
    &-button {
      height: fit-content;
      width: fit-content;
      min-width: auto;
      background-color: transparent;
      border-radius: 0;
      transition: all .3s ease;

      &:active {
        transform: scale(0.8);
      }
    }
  }
}
